html {background: #E3E3E3;
}
body {
    width: 50rem;
    margin: 0 auto;
    font-family: tahoma;
    background: white;
    border-radius: 5px 5px 5px 5px;
}

nav {
    background-color: black;  
    height: 6rem;
    display: table;
}

nav a, nav a:visited {
    color: white;
    display: table-cell;
    width: 12.5rem;
    padding: 2rem 3rem;
    font-size: 1.5rem;
    text-align: center;
}

nav a:hover {
    color: black;
    background-color: grey;
}

section {
    padding: 1rem 3rem;
} 

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem 3rem;
}

h1 {
    font-family: sans-serif;
    font-size: 36pt;
}

p {
    text-align: justify;
}
.button {
    color: white;
    background: #0000FF;
    border-radius: 0.3rem;
    box-shadow: none;
    font-size: 1.2rem;    
}
.button:hover {
    color: #0000FF;
    background: #E3E3E3;
    cursor: pointer;
}

/*odkazy*/
a {
    /*default*/
    text-decoration: none;
    color: #333333;
    font-family: sans-serif;
}
a:hover {
    /*pri najeti*/
    color: #777777;
}
a:active {
    /*oznaceny tabulatorem*/
    color: #777799;
}
a:visited {
    /*navstiveny*/
    color: #000033;
}

.obtekanyVlevo {
    float: left;
    height: 50%;
    width: 50%;
}

.obtekanyVpravo {
    float: right;
}

.vLajne {
    display: inline-block;
    text-align: center;
}

.vLajneBezVystredeni {
    display: inline-block;
    padding-left: 3rem;
}

.naStred {
    display: block;
    margin: auto;
}

.produktyH3 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: center;
}

.produktyH4 {
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    text-align: center;
}

#uvod {
    display: table;
}

.radek {
    display: rable-row;
}

.bunka {
    display: table-cell;
    width: 16.67rem;
}

@media only screen and (max-width: 768px) {
    /* pro mobily */   
    body {
        font-size: 2rem;
    }
    
    nav a, nav a:visited {
        font-size: 2rem;
    }
    
    input {
        height: 4rem;
        width: 30rem;
        font-size: 2rem;
    }
    
    textarea {
        height: 6rem;
        width: 30rem;
        font-size: 2rem;
    }
    
    .bunka {
        display: table-row;
    }
    
    
}

@media only screen and (max-width: 240px) {
    body {
        font-size: 3rem;
    }
    
    nav {
        background-color: black;
        display: table;
        width: 50rem;
    }
    
    nav a, nav a:visited {
        color: white;
        display: table-row;
        line-height: 8rem;
        padding: 2rem 3rem;
        font-size: 4rem;
        text-align: center;
    }
    
    .produktyH3 {
        font-size: 5rem;
    }
    
    .produktyH4 {
        font-size: 4rem;
    }
    
    .obtekanyVlevo {
        float: none;
        height: 100%;
        width: 100%;
    }
}