body {
    width: 1024px;
    margin: 0 auto;
}

h1 {
    font-family: sans-serif;
    font-size: 36pt;
}

p {
    text-align: justify;
}

/*odkazy*/
a {
    /*default*/
    text-decoration: none;
    color: #333333;
    font-family: sans-serif;
}
a:hover {
    /*pri najeti*/
    color: #777777;
}
a:active {
    /*oznaceny tabulatorem*/
    color: #777799;
}
a:visited {
    /*navstiveny*/
    color: #000033;
}

.obtekanyVlevo {
    float: left;
    margin: 10px;
}

.obtekanyVpravo {
    float: right;
    margin: 10px;
}

.vLajne {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.vLajneBezVystredeni {
    display: inline-block;
    width: 100%;
}

.naStred {
    vertical-align: middle;
}

.produktyH3 {
    font-size: 48pt;
    margin-top: 200px;
    margin-bottom: 0px;
}

.produktyH4 {
    font-size: 24pt;
    margin-top: 0px;
}