html {background: #E3E3E3;
}
body {
    width: 50rem;
    margin: 0 auto;
    font-family: tahoma;
    background: white;
    border-radius: 5px 5px 5px 5px;
}

nav {
    background-color: black;  
}

nav a, nav a:visited {
    color: white;
    display: block;
    padding: 2rem 3rem;
    font-size: 1.5rem;
}
nav a:hover {
    color: black;
    background-color: grey;
}

section {
    padding: 1rem 3rem;
} 

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem 3rem;
}

h1 {
    font-family: sans-serif;
    font-size: 36pt;
}

p {
    text-align: justify;
}
.button {
    color: white;
    background: #0000FF;
    border-radius: 0.3rem;
    box-shadow: none;
    font-size: 1.2rem;    
}
.button:hover {
    color: #0000FF;
    background: #E3E3E3;
    cursor: pointer;
}

/*odkazy*/
a {
    /*default*/
    text-decoration: none;
    color: #333333;
    font-family: sans-serif;
}
a:hover {
    /*pri najeti*/
    color: #777777;
}
a:active {
    /*oznaceny tabulatorem*/
    color: #777799;
}
a:visited {
    /*navstiveny*/
    color: #000033;
}

.obtekanyVlevo {
    float: left;
    padding: 0.15rem;
}

.obtekanyVpravo {
    float: right;
    padding: 0.15rem;
    position: relative;
    left: -3rem;
}

.vLajne {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.vLajneBezVystredeni {
    display: inline-block;
    width: 50rem;
    padding-left: 3rem;
}

.vLajneBezVystredeni p{
    padding-right: 6rem;
}

.naStred {
    vertical-align: middle;
}

.produktyH3 {
    font-size: 3rem;
    margin-top: 10rem;
    margin-bottom: 0rem;
    margin-right: 3rem;
}

.produktyH4 {
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-right: 3rem;
}